@import url("//fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("//fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap");
@import url("//fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');



body {
  font-family: 'Roboto', sans-serif; 
  font-size:  1.8em;
      background-color: #fff;

}



body h1 {
  
  font-size: 2.2em;
  font-family: 'Staatliches', cursive;
  
}

body h3 {
  
  font-size: 1.3em;
  font-family: 'Staatliches', cursive;
  
}


/* Css for hero sections */

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* text stuff */
    text-shadow: 1px 1px 3px #0a0a0a;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */
    
    /* webkit css  */
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
    
    

    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('background1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
}






.hero h1 {
    /* Text styles */
    font-size: 4.4em;
    font-family: 'Staatliches', cursive;
    text-shadow: 1px 1px 3px #0a0a0a;

    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 180px;
    
    /* Padding and margins */
    padding: 0.3em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    font-family: 'Roboto', sans-serif; 

    color: white;
    text-decoration: none;
    font-size: 1.2em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 8px;
    
    /* Background styles */
    background-color: rgb(230, 210, 50, 0.2);
}


.hero button {
      /* Positioning and sizing */
    display: block;
    width: 160px;
    
    /* Padding and margins */
    padding: 0.3em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    font-family: 'Roboto', sans-serif; 

    color: white;
    text-decoration: none;
    font-size: 1.2em;
    
    /* Border styles */

    /* Background styles 
    background-color: rgb(230, 210, 50, 0.2); */
  
}




